body{
    color: rgb(235, 147, 201);
    background-color: rgb(247, 242, 238);
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 30px;
    font-size: 20px;
}

img{
    width: 160px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid palevioletred;
}

a{
    color:palevioletred;
    text-decoration: none;
    
}

